<div class="sidebar">
    <div class="exploreSide">

    </div>
    <div class="profile-pic d-flex justify-content-center">
            <figure class="image col-6 col-md-5 panel-image"><img class="user-image mx-auto"
                    src="public/images/nice.JPG"></figure>
    </div>
    <div class="username">
        <h2 class="h2-myeb">{{user.getUsername()}}</h2>
    </div>
    <div class="exc-sold">
        <div class="mini-exc">
        </div>
        <div class="sold-exc">
            {{user.explorecoin}}
        </div>

    </div>
    <div class="qr-link" id="qrLink">
        <a href="qr" class="link-qr"></a>
    </div>
    <div class="info-myeb">
        Générer un QRJeu
    </div>
    <div class="d-flex flex-column mt-4  wrapper-link">
        <div class="mt-2  d-flex justify-content-start picto-actif">
            {% if path == 'home' %}
                <a href="home" class="side-link-actif mx-4"><i class="fas fa-eye"></i> Vue d'ensemble</a>
            {% else %}
                <a href="home" class="side-link mx-4"><i class="fas fa-eye"></i> Vue d'ensemble</a>   
            {% endif %}
            
        </div>
        <div class="mt-3 d-flex justify-content-start picto-inactif">
            {% if path == 'stat' %}
                <a href="stat" class="side-link-actif mx-4">  <i class="fas fa-chart-line"></i> Statistiques</a>
            {% else %}
                <a href="stat" class="side-link mx-4">  <i class="fas fa-chart-line"></i> Statistiques</a>
            {% endif %}   
        </div>
        <div class="mt-3 d-flex justify-content-start picto-inactif">
            <a href="logout" class="side-link mx-4">  <i class="fas fa-sign-out"></i> Se deconnecter</a>
        </div>
    </div>
    
</div>