.h2-myeb{

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #3F3F3F;
}

.info-myeb{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #8A8A8A;
}

.explorecard{
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    min-width: 350px;
    min-height: 197px;
    margin-top: 45px;
}

.wrapper-home{
    width: 70%;
    margin-left: auto; 
    margin-right: 0;
    padding-right: 5%;
}

.background-myeb{
    background: #F2F2F2;
}

.explorebag{
    float: right;
    margin-right: -15%;
    background: url('../images/explorebag.png');
    width: 126px;
    height: 167px;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.16));
}

.explore-coin{
    background: url('../images/exploreCoin.svg');
    width: 63px;
    height: 63px;
    margin-right: 10px;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.16));
}

.left-explorecard{
    float: left;
    width: 70%;
}

.left-invisible-explorecard{
    margin-top: 15px;
    float: left;
    width: 70%;
}
.invisible-explorecard{
    margin-top: 15px;
    padding-top: 10px;
    width: 70%;
}

.title-explorecard{
    font-family: 'Roboto';
    font-style: normal;
    margin-left: 3%;
    margin-top: 3%;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #3F3F3F;
}

.subtitle-explorecard{
    font-family: 'Roboto';
    margin-left: 3%;
    margin-top: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8A8A8A;

}

.subtitle-explorecard-white{
    font-family: 'Roboto';
    margin-left: 3%;
    margin-top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.data-explorecard{
    margin-top: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #074A36;
}


.data-explorecard-red{
    margin-top: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DF1317;
}

.button-explore-card{
    position: realtive;
    margin-right: 15px;
    margin-top: 27px;
    margin-bottom: 0px;
    width:115px;
    height: 33px;
    color: #F2F2F2;
    text-align: center;
    border: none;
    cursor: pointer;
    float: right;
    background: #074A36;
    border-radius: 5px;
}

.input-myeb{
    width: 275px;
    height: 47px;
    margin-left: 3%;
    background: #FFFFFF;
    border: 1px solid rgba(138, 138, 138, 0.69);
    border-radius: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: rgba(138, 138, 138, 0.5);
}

.label-myeb{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #3F3F3F;
}

.form-row-myeb{
    display: flex;
    margin-top: 20px;
}

.btn-explore-validation{
    width:115px;
    height: 33px;
    color: #F2F2F2;
    text-align: center;
    border: none;
    cursor: pointer;
    background: #074A36;
    border-radius: 5px;
}

.btn-explore-yellow{
    text-decoration: none;
    width:115px;
    height: 33px;
    color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background: #FABC43;
    border-radius: 5px;
}

.btn-explore-yellow:hover{
    text-decoration: none;
    width:115px;
    height: 33px;
    color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background: #FABC43;
    border-radius: 5px;
}

.marg-3{
    margin-left: 3%;
}

.wrapper-left{
    width: 350px;
}


.explore-visio{
    background: #FFFFFF;
    margin-top: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    min-width: 450px;
    min-height: 500px;
}


.image-qrcode{
    width: 333px;
    background-color: #8A8A8A;
    margin: 5% auto;
    height: 333px;
    border: #3F3F3F;
    border-width: 1px;
    border-style: solid;
}

.wrapper-qr{
    margin: 5% auto;
}

.img-qr{
    width: 333px;
  
    height: 333px;
    border: #3F3F3F;
    border-width: 1px;
    border-style: solid;
}

.footer-viso{
    margin: auto;
    width: 333px;
    display: flex;
    justify-content: space-around;
}