{% extends 'base.html.twig' %}
{% block style %}
<link rel="stylesheet" href="public/css/sidebar.css">
{% endblock %}
{% block main %}
{% include "elements/sidebar.html.twig" %}
<form action="exc" method="post" >
    <main class=" flex-wrap  d-flex wrapper-home justify-content-start">
            <div class="left-invisible-explorecard my-3">
                <div class="d-flex flex-column my-4">
                    <div class="subtitle-explorecard">Montant en euro</div>
                    <select name="amount" class="input-myeb">
                        <option value="10000">100</option>
                        <option value="20000">200</option>
                        <option value="50000">500</option>
                        <option value="100000">1000</option>
                        <option value="200000">2000</option>
                        <option value="500000">5000</option>
                    </select>
                </div> 
                <button class="btn-explore-yellow-large marg-3 px-3">Valider</button>
            </div>
    </main>
</form>

{% endblock %}

{% block script %}
{% endblock %}