{% extends 'base.html.twig' %}
{% block style %}
<link rel="stylesheet" href="public/css/sidebar.css">

{% endblock %}
{% block main %}


<main class=" login-container  d-flex align-items-center justify-content-center form-signin w-100 m-auto  text-center">
    <form method="POST" action="login">
        {% if alert %}
        <div class="alert alert-warning my-3" role="alert">
            {{alert['message']}}
        </div>
        {% endif %}
        <div class="exploreSide">

        </div>
        <div class="form-floating my-4 ">
                <div class="subtitle-explorecard mb-2">Nom d' utilisateur</div>
                <input type="text" class="input-myeb" name="username" value="{{alert['username']}}" placeholder="">
        </div>
        <div class="form-floating mt-4 mb-1">
            <div class="subtitle-explorecard mb-2">Mot de passe</div>
            <input type="password" class="input-myeb" value="{{alert['password']}}" name="password"  placeholder="">
           
              
        </div>
        <div class="d-flex flex-column">
        <a href="passwordRecovery" class="yellow-link" >Mot de passe oublié ? </a>
         <button class=" button-login mx-auto mt-2" type="submit">Se connecter</button>
      
        </div>
          
        
    </form>
   
</main>
{% endblock %}
{% block script %}

{% endblock %}