{% extends 'base.html.twig' %}
{% block style %}


{% endblock %}
{% block main %}


<main class=" login-container  d-flex align-items-center justify-content-center form-signin w-100 m-auto  text-center">
    <form method="POST" action="login">
        {% if alert %}
        <div class="alert alert-warning my-3" role="alert">
            {{alert['message']}}
        </div>
        {% endif %}
        <div class="form-floating my-4 ">
                <div class="subtitle-explorecard">Nom d' utilisateur</div>
                <input type="text" class="input-myeb" name="username" value="{{alert['username']}}" placeholder="">
            
        </div>
        <div class="form-floating my-4">
            <div class="subtitle-explorecard">Mot de passe</div>
            <input type="password" class="input-myeb" value="{{alert['password']}}" name="password"  placeholder="">
        </div>

        <button class=" button-login mx-auto" type="submit">se connecter</button>
    </form>
</main>
{% endblock %}
{% block script %}

{% endblock %}