{% extends 'base.html.twig' %}
{% block style %}
<link rel="stylesheet" href="public/css/sidebar.css">

{% endblock %}
{% block main %}


<main class=" login-container  d-flex align-items-center justify-content-center form-signin w-100 m-auto  text-center">
    <form method="POST" action="passwordRecovery">
        {% if alert %}
        <div class="alert alert-warning my-3" role="alert">
            {{alert}}<br><br>
            {{ajout}}<br>
              <a class="yellow-link" href="login">Retour à la page de connexion </a>
        </div>
        {% else %}
            <div class="">
                    <h2 class="h2-myeb">Récupération de mot de passe</h2>
            </div>
            <div class="form-floating my-4 ">
                    <div class="subtitle-explorecard mb-2">Envoi d'un lien sécurisé</div>
                    <input type="email" class="input-myeb" name="email" placeholder="Adresse email">
            </div>

            <button class=" button-login mx-auto" type="submit">Envoyer</button>
        {% endif %}
        
        
    </form>
   
</main>
{% endblock %}
{% block script %}

{% endblock %}