{% extends 'base.html.twig' %}
{% block style %}
<link rel="stylesheet" href="public/css/sidebar.css">
{% endblock %}
{% block main %}
{% if alert %}
<div class="alert-center alert alert-warning alert-dismissible fade show" role="alert">
    {{alert['message']}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </button>
</div>
{% endif %}
{% include "elements/sidebar.html.twig" %}
<form action="pass" method="post" >
    <main class=" flex-wrap  d-flex wrapper-home justify-content-start">
            <div class="left-invisible-explorecard my-3">
                <div class="d-flex flex-column my-4">
                    <div class="subtitle-explorecard">mot de passe actuel</div>
                    <input type="password" name="actual_password"  class="input-myeb" required>
                </div> 
                <div class="d-flex flex-column my-4">
                    <div class="subtitle-explorecard">Nouveau mot de passe</div>
                    <input type="password" name="password"  class="input-myeb" required>
                </div> 
                <button type="submit" class="btn-explore-yellow-large marg-3 px-3">Valider</button>
            </div>
    </main>
</form>

{% endblock %}

{% block script %}
{% endblock %}