{% extends 'base.html.twig' %}
{% block style %}
<link rel="stylesheet" href="public/css/sidebar.css">
{% endblock %}
{% block main %}
{% include "elements/sidebar.html.twig" %}
<form action="" method="post" id="StripeForm">
    <main class=" flex-wrap  d-flex wrapper-home justify-content-start">
        <div class="title-explorecard"> Votre paiement {{ amount /100 }} ExploreCoins</div>
        <div id="errors"></div>
            <div class="left-invisible-explorecard my-3">
                <div class="d-flex flex-column my-4">
                    <div class="subtitle-explorecard">Titulaire de la carte</div>
                    <input type="text" id="name" class="input-myeb">
                </div> 
                <div id="carderror"></div>
                <div class="subtitle-explorecard">Carte de credit ou debit</div>
                <div id="card-part" class="form-control">
                    
                </div>
                <button class="btn-explore-yellow-large marg-3 mt-4 px-3" id="valid" data-secret="{{output['clientSecret']}}" type="button">Valider le paiement</button>
            </div>
    </main>
</form>
{% endblock %}
{% block script %}
<script src="https://js.stripe.com/v3/"></script>
<script src="public/js/checkout.js" defer></script>
{% endblock %}