{% extends 'base.html.twig' %}
{% block style %}
<link rel="stylesheet" href="public/css/sidebar.css">

{% endblock %}
{% block main %}
{% include "elements/sidebar.html.twig" %}
<main class=" flex-wrap  d-flex wrapper-home justify-content-between">
    Qr code c'est ici !
</main>

{% endblock %}
{% block script %}

{% endblock %}